body {
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif; 
}

h1 {
    font-family: Oswald;
    font-size: 70px;
}

h3 {
    font-size: 32px;
    line-height: 0px;
    
}

p {
   font-size: 24px; 
}

#header {
    margin-top: 0px;
    margin-left: 80px;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    background-position: right;
    height: 700px;

}

.hexagon {
    background: url("../images/header.png");
    background-repeat: no-repeat;
    height: 800px;
    width: 700px;
    top: 0;
    right: 0;
    position: absolute;
}

.logo {
    margin-top: 60px;
}

#intro {
    background: url("../images/profile.png");
    background-size: 650px 600px;
    background-repeat: no-repeat;
    background-position: left;
    height: 850px;
    margin-left: 80px;
    margin-right: 80px;
}

.text {
    margin-top: 200px;
    margin-left: 700px;
    float: left;
    
}

#about{
    background: url("../images/phone.png");
    background-size: 600px 778px;
    background-repeat: no-repeat;
    background-position: right;
    height: 850px;
}

.copy {
    margin-left: 80px;
    margin-right: 600px;
    float: left;
}

.clear {
    clear: both;
}

.features {
    height: 800px;
    background: url("../images/hex.png");
    background-size: 600px 800px;
    background-repeat: no-repeat;
    margin-right: 80px;
}



.user {
    height: 800px;
    text-align: center;
}



.partners {
    height: 650px;
    text-align: center;
}

#slack {
    padding-top: 20px;
    padding-right: 80px;
    height: 70px;
}

#evernote {
    padding-top: 20px;
    padding-right: 80px;
    height: 80px;
}

#intercom {
    padding-top: 40px;
    height: 80px;
}

#dropbox {
    padding-top: 50px;
    padding-right: 120px;
    height: 120px;
}

#twitter {
    height: 50px;
}

#download {
    padding-top: 100px;
    text-align: center;
    background: url("../images/downback.png");
    background-size: 1300px 400px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 0px;
    height: 300px;
}

#button1 {
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    border: none;  
    background: #fffc00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(18deg, #fffc00, #d8ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(18deg, #fffc00, #d8ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(18deg, #fffc00, #d8ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(18deg, #fffc00, #d8ff00); /* Standard syntax */
    cursor: pointer;
}

#button2 {
    position: relative;
    padding: 10px 50px 10px 50px;
    margin: 25px 80px 0px 0px;
    float: right;
    width:auto;
    border-radius: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    border: none;  
    background: #fffc00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-144deg, #fffc00, #d8ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-144deg, #fffc00, #d8ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-144deg, #fffc00, #d8ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-144deg, #fffc00, #d8ff00); /* Standard syntax */
    cursor: pointer;
}

#button1:hover {
    opacity: 0.8;
}

#button2:hover {
    opacity: 0.8;
}

.apple {
    background: url("../images/app.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 73px;
    width: 200px;
    margin-right: 25px;
    border-style: none;
}

.google {
    background: url("../images/google.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 242px;
    margin-top: 50px;
    border-style: none;
}

.apple:hover {
    opacity: 0.95;
    cursor: pointer;
}

.google:hover {
    opacity: 0.95;
    cursor: pointer;
}

.facebook {
    background: url("../images/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 8px;
    border-style: none;
}

.facebook:hover {
    opacity: 0.9;
    cursor: pointer;
}

.twitter {
    background: url("../images/twitter.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 8px;
    border-style: none;
}

.twitter:hover {
    opacity: 0.9;
    cursor: pointer;
}

.instagram {
    background: url("../images/instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 100px;
    border-style: none;
}

.instagram:hover {
    opacity: 0.9;
    cursor: pointer;
}

#social {
    float: right;
    margin-top: 25px;
}

footer {
    background: black;
    height: 200px;
    text-align: center;
    color: white;
}

#foot {
    margin-left: 80px;
    padding-top: 20px;
    text-align: left;
}

.bottom {
    height: 100px;
    width: 300px;
    background: url("../images/logo_white.png");
    background-size: cover;
    border: none;
    cursor: pointer;
}

.mySlides {
    box-shadow: 5px 5px 10px #888888;
    margin: 20px;
}

#img {
    box-shadow: 20px;
}

.quoteblock1 {
    float: left;

}

#q1 {
    background: url("../images/q1.png");
    background-size: 500px 550px;
    background-repeat: no-repeat;
    height: 500px;
    margin-left: 475px;
    margin-right: 475px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    text-align: left;
    line-height: 50px;
    box-shadow: 5px 5px 10px #888888;
    float: left;
    position: absolute;
    
}

#q2 {
    background: url("../images/q1.png");
    background-size: 450px 450px;
    background-repeat: no-repeat;
    height: 450px;
    margin-top: 20px;
    margin-left: 75px;
    margin-right: 875px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    text-align: left;
    line-height: 50px;
    box-shadow: 5px 5px 10px #888888;
    float: left;
    position: absolute;
    z-index: -1;
}

#q3 {
    background: url("../images/q1.png");
    background-size: 450px 450px;
    background-repeat: no-repeat;
    height: 450px;
    margin-top: 20px;
    margin-left: 875px;
    margin-right: 75px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    text-align: left;
    line-height: 50px;
    box-shadow: 5px 5px 10px #888888;
    float: left;
    position: absolute;
    z-index: -1;
}






.item-1, .item-2, .item-3 {
	position: absolute;
    display: block;
    width: 60%;
    height: 800px;
    margin-top: 150px;
    margin-left: -225px;
    padding-left: 500px;
    font-size: 2em;
	animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
    background: url("../images/feature.png");
    background-repeat: no-repeat;
}

.item-2{
	animation-name: anim-2;
    background: url("../images/feature2.png");
    background-repeat: no-repeat;
    padding-left: 550px;
}

.item-3{
	animation-name: anim-3;
    background: url("../images/feature3.png");
    background-repeat: no-repeat;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}

